<ion-header>
  <ion-toolbar>
    <ion-title>Registro de soporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="fixed">Código</ion-label>
            <ion-input [(ngModel)]="clienteAuxiliar.codigo"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="fixed">Nombre</ion-label>
            <ion-input [(ngModel)]="clienteAuxiliar.nombre"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="fixed">Apellido</ion-label>
            <ion-input [(ngModel)]="clienteAuxiliar.apellido"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="fixed">Identificación</ion-label>
            <ion-input [(ngModel)]="clienteAuxiliar.identificacion"></ion-input>
          </ion-item>
        </ion-col>
        




      </ion-row>
      <ion-row>

        <ion-col>
          <ion-item>
            <ion-label position="fixed">descripcion</ion-label>
            <ion-input [(ngModel)]="problemaAuxiliar.detalle"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label>Gravedad</ion-label>
            <ion-select placeholder="Seleccione posición de juego" [(ngModel)]= "problemaAuxiliar.gravedad" >
              <ion-select-option *ngFor="let item of gravedadAuxiliar"  value="{{item.codigo}}">{{item.codigo}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        
      </ion-row>  
  </ion-grid> 

    
    <ion-grid>
      <ion-row *ngFor="let item of clienteAuxiliar.problemas">
        <ion-col>{{item.codigo}}</ion-col>
        <ion-col>{{item.descripcion}}</ion-col>

      </ion-row>
    </ion-grid>


<ion-button shape="round" (click)="nuevo()" >Nuevo</ion-button>
<ion-button shape="round" (click)="grabar()" >Grabar</ion-button>
<ion-button shape="round" (click)="consultar()" >Consultar</ion-button>
<ion-button shape="round" (click)="eliminar()" >Eliminar</ion-button>      
<ion-button shape="round" (click)="agregarproblema()" >Agregar problema</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-item>
          <ion-label position="fixed">Código</ion-label>
        </ion-item>
      </ion-col>


        <ion-col size="2">
          <ion-item>
            <ion-label position="fixed">Identificación</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="2">
          <ion-item>
            <ion-label position="fixed">Nombre</ion-label>
          </ion-item>
        </ion-col>

        <ion-col size="2">
          <ion-item>
            <ion-label position="fixed">Fallo</ion-label>
          </ion-item>
        </ion-col>

    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row *ngFor="let item of clientesAuxiliar" >
      
      <ion-col size="2">
        <ion-item color="primary" (click) = "consultaIndividual(item.codigo)" >
          <ion-label position="fixed">{{item.codigo}}</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="2">
        <ion-item>
          <ion-label position="fixed">{{item.identificacion}}</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="2">
        <ion-item>
          <ion-label position="fixed">{{item.nombre}}</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="2">
        <ion-item>
          <ion-label position="fixed">{{item.apellido}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>