
.item{
    background: gray;
    padding: 30px;
    border: 1px black solid ;
    text-align: center;
}

.contenedor{
    display: grid;
    grid-template-rows: 100px 50px 1fr 100px;
    grid-template-columns: 1fr 300px;
    grid-gap: 5px;
    height: 100vh;
    grid-template-areas: "nombre nombre"
                         "menus menus"
                         "articulos mejores"
                         "pie pie"

}
.menus{
    grid-area: menus;
}
.nombre{
    grid-area: nombre;
}
.articulos{
    grid-area: articulos;
}
.mejores{
    grid-area: mejores;
}
.pie{
    grid-area: pie;
}