@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yanone+Kaffeesatz&display=swap');
* {
	box-sizing: border-box;
	text-decoration: none;
}
img{
	display: block;
	max-width: 98%;
}

body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1.5px;
	text-decoration: none;
}
a{
	color: white;
}

.section__titulo{
	text-align: center;
	font-size: 40px;
	color: #FBA919;
}

.contenedor{
	margin: auto;
	width: 98%;
}

/*--------------------------------Estilos del header--------------------------------*/
.header{
	height: 75px;
	background: rgba(0,0,0,0.4);
	overflow: hidden;
	
}
/**/
.header, .contenedor{
	display: flex;
	justify-content: space-between;
	
}
/**/
.logo, .icon-menu{
	margin: 5px;
	color: #fff;
}

.icon-menu{
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: #FBA919;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left: auto;
	cursor: pointer;
}
/*---------------------------------Estilos del menu---------------------------------*/
.nav{
	position: absolute;
	top: 80px;
	left: -100%;
	width: 100%;
	transition: all 0.4s;
}

.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu__link{
	display: block;
	padding: 15px;
	background: none;
	text-decoration: none;
	color: #fff;
}

.menu__link:hover{
	background: white;
	color: #FBA919;
	height: 75px;
}

.mostrar{
	left: 0;
}
/*Sirve para dejar el elemento de la seccion donde el usuario 
se encuentra actualmente en la pagina para este caso se decidio 
que era mejor usarse en el hover de arriva .menu__link, .select
.select{
	background: white;
	color: #FBA919;
}
*/
/*--------------------------------------Estilos de banner--------------------------------------*/

.banner{
	margin-top: -75px;
	position: relative;
	z-index: -1000;
	margin-bottom: 20px;
}

.banner .contenedor{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color: #fff;
	text-align: center;
}

.banner__txt{
	display: none;
}

/*---------------------------------Estilos de info---------------------------------*/

.info__columna{
	display: block;
	background: #FBA919;
	color: #fff;
	padding: 15px;
	margin-bottom: 30px;
}

/*---------------------------------Estilos de cursos---------------------------------*/
.cursos__columna{
	/*left:100px;*/	
	position: relative;
  	margin-bottom: 30px;
  	overflow: hidden;
  	width: 420px;
	height: 300px;
}


.cursos__descripcion{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background: rgba(0,0,0,0.4);
	width: 60%;
	height: 100%;
	padding: 5px;
}

.cursos__titulo{
	font-size: 25px;
	margin: 5px 0;
}
.cursos__img{
  width: 100%;
 
}



/*
section .titulo{
	padding: 200px;
	display: flex;
	margin-top: -500px;
}
*/
/*---------------------------------Estilos de footer---------------------------------*/

.footer{
	background: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.footer .social [class^="icon-"]{
	display: inline-block;
	color: #333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;
	background: white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 40px;
}

/*---------------------------------Estilos de responsive---------------------------------*/

@media(min-width: 480px){
	.logo{
		font-size: 40px;
	}
	.banner__titulo{
		font-size: 30px;
		margin: 5px 0;
	}
	.banner__txt{
		display: block;
		font-size: 18px;
		margin: 7px 0;
	}
	.info, .cursos{
		display: flex;
		justify-content: space-between;
		margin-top: -50px;
	}
	.info__columna{
		width: 32%;
	}
	.info__titulo{
		font-size: 30px;
		margin: 5px 0;
	}

	.section__titulo{
		width: 100%;
	}
	.cursos{
		flex-wrap: wrap;
		margin-top: 0;

	}

	.cursos__columna{
		width: 49%;
	}
	.footer .social [class^="icon-"]{
		margin: 0 10px;
	}
}

@media(min-width: 768px){
	.banner__titulo{
		font-size: 50px;
	}

	.cursos__titulo{
		font-size: 40px;
	}
}

@media(min-width: 1024px){
	.logo{
		display: inline;
		width: 100%;
		margin-right: 30%;
		
	}

	.cursos{
		margin:auto;
		width: 95%;
	}

	.contenedor{
	
	width: 1000px;
	}

	.section__titulo{
		font-size: 50px;
		margin: 30px 0;
	}

	.nav{

		position: static;
	}

	.menu{
		display: flex;
	}

	.icon-menu{
		display: none;
	}

	.menu__link{
		background: none;
		font-size: 20px;
	}

	.select{
		color: #fff;
		background: #FBA919;
	}

	.banner__titulo{
		font-size: 60px;
	}

	.banner__txt{
		font-size: 25px;
	}

	.info{
		margin-top: -120px;
	}

	.info__columna{
		padding: 30px;
	}

	.cursos__descripcion{
		padding: 20px;

	}

	.info__titulo{
		font-size: 40px;
		text-align: center;
	}

	.cursos__titulo{
		font-size: 50px;
	}
	.cursos__txt{
		font-size: 20px;
	}
}

@media(min-width: 1280px){
	.contenedor{
		width: 1280px;
	}

	.cursos{
		margin:auto;
		width: 95%;
	}

	.logo{
		display: inline;
		width: 100%;
		margin-right: 30%;
		margin-left: 5%;
		font-size: 60px;
	}
	.banner .contenedor{
		display: block;
		top: 40%;
	}
	.info{
		margin-top: -220px;
	}

	.banner{
		padding-left: 30px;
	}
}