.item{
    background: gray;
    padding: 10px;
    border: 1px blue solid;
}
.contenedor{
    display: grid;
    grid-template-rows: 100px 1fr 150px;
    grid-template-columns: 300px 1fr;

    grid-gap: 5px;
    height: 100vh;
    
    grid-template-areas: "cabecera cabecera"
                         "izquierdo contenido"
                         "pie pie"
}
.cabecera{
    grid-area: cabecera;
}
.izquierda{
    grid-area: izquierda;
}
.contenido{
    grid-area: contenido;
}
.pie{
    grid-area: pie;
}